In [132]:
import pandas as pd
data = pd.read_csv("/content/HRdata.csv")
data.head()

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,...,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,...,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,...,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,...,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Attrition                   1470 non-null   object
 1   Business Travel             1470 non-null   object
 2   CF_age band                 1470 non-null   object
 3   CF_attrition label          1470 non-null   object
 4   Department                  1470 non-null   object
 5   Education Field             1470 non-null   object
 6   emp no                      1470 non-null   object
 7   Employee Number             1470 non-null   int64
 8   Gender                      1470 non-null   object
 9   Job Role                    1470 non-null   object
 10  Marital Status              1470 non-null   object
 11  Over Time                   1470 non-null   object
 12  Over18                      1470 non-null   object
 13  Training Times Last Year    1470 non-null   int64
 14  Age                         1470 non-null   int64
 15  CF_current Employee         1470 non-null   int64
 16  Daily Rate                  1470 non-null   int64
 17  Distance From Home          1470 non-null   int64
 18  Education                   1470 non-null   object
 19  Employee Count              1470 non-null   int64
 20  Environment Satisfaction    1470 non-null   int64
 21  Hourly Rate                 1470 non-null   int64
 22  Job Involvement             1470 non-null   int64
 23  Job Level                   1470 non-null   int64
 24  Job Satisfaction            1470 non-null   int64
 25  Monthly Income              1470 non-null   int64
 26  Monthly Rate                1470 non-null   int64
 27  Num Companies Worked        1470 non-null   int64
 28  Percent Salary Hike         1470 non-null   int64
 29  Performance Rating          1470 non-null   int64
 30  Relationship Satisfaction   1470 non-null   int64
 31  Standard Hours              1470 non-null   int64
 32  Stock Option Level          1470 non-null   int64
 33  Total Working Years         1470 non-null   int64
 34  Work Life Balance           1470 non-null   int64
 35  Years At Company            1470 non-null   int64
 36  Years In Current Role       1470 non-null   int64
 37  Years Since Last Promotion  1470 non-null   int64
 38  Years With Curr Manager     1470 non-null   int64
dtypes: int64(26), object(13)
memory usage: 448.0+ KB

In [134]:
data.describe()

,Employee Number,Training Times Last Year,Age,CF_current Employee,Daily Rate,Distance From Home,Employee Count,Environment Satisfaction,Hourly Rate,Job Involvement,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,1024.865306,2.799320,36.923810,0.838776,802.485714,9.192517,1.0,2.721769,65.891156,2.729932,...,3.153741,2.712245,80.0,0.793878,11.279592,2.761224,7.008163,4.229252,2.187755,4.123129
std,602.024335,1.289271,9.135373,0.367863,403.509100,8.106864,0.0,1.093082,20.329428,0.711561,...,0.360824,1.081209,0.0,0.852077,7.780782,0.706476,6.126525,3.623137,3.222430,3.568136
min,1.000000,0.000000,18.000000,0.000000,102.000000,1.000000,1.0,1.000000,30.000000,1.000000,...,3.000000,1.000000,80.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,491.250000,2.000000,30.000000,1.000000,465.000000,2.000000,1.0,2.000000,48.000000,2.000000,...,3.000000,2.000000,80.0,0.000000,6.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,1020.500000,3.000000,36.000000,1.000000,802.000000,7.000000,1.0,3.000000,66.000000,3.000000,...,3.000000,3.000000,80.0,1.000000,10.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,1555.750000,3.000000,43.000000,1.000000,1157.000000,14.000000,1.0,4.000000,83.750000,3.000000,...,3.000000,4.000000,80.0,1.000000,15.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,2068.000000,6.000000,60.000000,1.000000,1499.000000,29.000000,1.0,4.000000,100.000000,4.000000,...,4.000000,4.000000,80.0,3.000000,40.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [135]:
for idx, col in enumerate(data.columns):
    print(f"{idx}: {col}: {data[col].nunique()}")

0: Attrition: 2
1: Business Travel: 3
2: CF_age band: 5
3: CF_attrition label: 2
4: Department: 3
5: Education Field: 6
6: emp no: 1470
7: Employee Number: 1470
8: Gender: 2
9: Job Role: 9
10: Marital Status: 3
11: Over Time: 2
12: Over18: 1
13: Training Times Last Year: 7
14: Age: 43
15: CF_current Employee: 2
16: Daily Rate: 886
17: Distance From Home: 29
18: Education: 5
19: Employee Count: 1
20: Environment Satisfaction: 4
21: Hourly Rate: 71
22: Job Involvement: 4
23: Job Level: 5
24: Job Satisfaction: 4
25: Monthly Income: 1349
26: Monthly Rate: 1427
27: Num Companies Worked: 10
28: Percent Salary Hike: 15
29: Performance Rating: 2
30: Relationship Satisfaction: 4
31: Standard Hours: 1
32: Stock Option Level: 4
33: Total Working Years: 40
34: Work Life Balance: 4
35: Years At Company: 37
36: Years In Current Role: 19
37: Years Since Last Promotion: 16
38: Years With Curr Manager: 18

In [136]:
data.Department.unique()

array(['Sales', 'R&D', 'HR'], dtype=object)

In [137]:
Sales = data[data['Department'] == 'Sales']
R_D = data[data['Department'] == 'R&D']
HR = data[data['Department'] == 'HR']

print(f"Total Number of employees: {data.shape[0]}")
print(f"Total Attrition Count: {data[data['Attrition'] == 'Yes'].shape[0]}")
print(f"Total Active Employees: {data[data['CF_attrition label'] == 'Yes'].shape[0]}")
print(f"Attrition rate: {round((data[data['Attrition'] == 'Yes'].shape[0]/data[data['Attrition'] == 'No'].shape[0]) * 100,2)}")
print(f"Number of employees in Sales: {Sales.shape[0]}")
print(f"Active Employees in Sales: {Sales[Sales['CF_attrition label'] == 'Yes'].shape[0]}")
print(f"Attrition Count in Sales: {Sales[Sales['Attrition'] == 'Yes'].shape[0]}")
print(f"Attrition rate in Sales: {round((Sales[Sales['Attrition'] == 'Yes'].shape[0]/Sales[Sales['Attrition'] == 'No'].shape[0]) * 100,2)}")
print(f"Number of employees in R&D: {R_D.shape[0]}")
print(f"Active Employees in R&D: {R_D[R_D['CF_attrition label'] == 'Yes'].shape[0]}")
print(f"Attrition Count in R&D: {R_D[R_D['Attrition'] == 'Yes'].shape[0]}")
print(f"Attrition rate in R&D: {round((R_D[R_D['Attrition'] == 'Yes'].shape[0]/R_D[R_D['Attrition'] == 'No'].shape[0]) * 100,2)}")
print(f"Number of employees in HR: {HR.shape[0]}")
print(f"Active Employees in HR: {HR[HR['CF_attrition label'] == 'Yes'].shape[0]}")
print(f"Attrition Count in HR: {HR[HR['Attrition'] == 'Yes'].shape[0]}")
print(f"Attrition rate in HR: {round((HR[HR['Attrition'] == 'Yes'].shape[0]/HR[HR['Attrition'] == 'No'].shape[0]) * 100,2)}")

Total Number of employees: 1470
Total Attrition Count: 237
Total Active Employees: 0
Attrition rate: 19.22
Number of employees in Sales: 446
Active Employees in Sales: 0
Attrition Count in Sales: 92
Attrition rate in Sales: 25.99
Number of employees in R&D: 961
Active Employees in R&D: 0
Attrition Count in R&D: 133
Attrition rate in R&D: 16.06
Number of employees in HR: 63
Active Employees in HR: 0
Attrition Count in HR: 12
Attrition rate in HR: 23.53

In [138]:
print(f"Male employees: {data[data['Gender'] == 'Male'].shape[0]}")
print(f"Female employees: {data[data['Gender'] == 'Female'].shape[0]}")
print(f"Male employees in Sales: {Sales[Sales['Gender'] == 'Male'].shape[0]}")
print(f"Female employees in Sales: {Sales[Sales['Gender'] == 'Female'].shape[0]}")
print(f"Male employees in R_D: {R_D[R_D['Gender'] == 'Male'].shape[0]}")
print(f"Female employees in R_D: {R_D[R_D['Gender'] == 'Female'].shape[0]}")
print(f"Male employees in HR: {data[data['Gender'] == 'Male'].shape[0]}")
print(f"Female employees in HR: {data[data['Gender'] == 'Female'].shape[0]}")

Male employees: 882
Female employees: 588
Male employees in Sales: 257
Female employees in Sales: 189
Male employees in R_D: 582
Female employees in R_D: 379
Male employees in HR: 882
Female employees in HR: 588

In [139]:
data['Marital Status'].unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

In [140]:
print(f"Male employees: {data[data['Gender'] == 'Male'].shape[0]}")
print(f"Female employees: {data[data['Gender'] == 'Female'].shape[0]}")
print(f"Male employees in Sales: {Sales[Sales['Gender'] == 'Male'].shape[0]}")
print(f"Female employees in Sales: {Sales[Sales['Gender'] == 'Female'].shape[0]}")
print(f"Male employees in R_D: {R_D[R_D['Gender'] == 'Male'].shape[0]}")
print(f"Female employees in R_D: {R_D[R_D['Gender'] == 'Female'].shape[0]}")
print(f"Male employees in HR: {data[data['Gender'] == 'Male'].shape[0]}")
print(f"Female employees in HR: {data[data['Gender'] == 'Female'].shape[0]}")

Male employees: 882
Female employees: 588
Male employees in Sales: 257
Female employees in Sales: 189
Male employees in R_D: 582
Female employees in R_D: 379
Male employees in HR: 882
Female employees in HR: 588

In [141]:
data['Total Working Years'].unique()

array([ 8, 10,  7,  6, 12,  1, 17,  5,  3, 31, 13,  0, 26, 24, 22,  9, 19,
        2, 23, 14, 15,  4, 29, 28, 21, 25, 20, 11, 16, 37, 38, 30, 40, 18,
       36, 34, 32, 33, 35, 27])

In [142]:
import plotly.express as px
import plotly.io as pio
from plotly.offline import plot
pio.renderers.default = "notebook_connected"


age_counts = data['Age'].value_counts().reset_index()
age_counts.columns = ['Age', 'Count']
fig = px.bar(age_counts, x='Age', y='Count', title='Age Distribution', labels={'Age': 'Age', 'Count': 'Number of Employees'})
pio.write_html(fig, file='bar_plot_age.html', auto_open=False)
plot(fig)

'temp-plot.html'

In [143]:
Sales.loc[:, 'Department'] = 'Sales'
R_D.loc[:, 'Department'] = 'R&D'
HR.loc[:, 'Department'] = 'HR'

combined_data = pd.concat([Sales, R_D, HR])
wlb_counts = combined_data.groupby(['Department', 'Work Life Balance']).size().reset_index(name='Count')

fig = px.bar(wlb_counts,
             x='Work Life Balance',
             y='Count',
             color='Department',
             barmode='group',
             title='Work Life Balance Distribution by Department',
             labels={'Work Life Balance': 'Work Life Balance', 'Count': 'Number of Employees'})
pio.write_html(fig, file='bar_plot_wlf.html', auto_open=False)
plot(fig)

'temp-plot.html'

In [144]:
import plotly.express as px

department_gender_counts = {'Sales': {}, 'R&D': {}, 'HR': {}}

for department in department_gender_counts.keys():
    department_data = data[data['Department'] == department]

    male_count = department_data[department_data['Gender'] == 'Male'].shape[0]
    female_count = department_data[department_data['Gender'] == 'Female'].shape[0]

    department_gender_counts[department]['Male'] = male_count
    department_gender_counts[department]['Female'] = female_count

gender_df = pd.DataFrame(department_gender_counts).reset_index().melt(id_vars='index', var_name='Gender', value_name='Count')

fig = px.bar(gender_df,
             x='index',
             y='Count',
             color='Gender',
             barmode='group',
             title='Gender Distribution by Department',
             labels={'index': 'Department', 'Count': 'Number of Employees'})
pio.write_html(fig, file='bar_plot_gender.html', auto_open=False)

plot(fig)

'temp-plot.html'

In [145]:
department_data = {'Sales': Sales, 'R&D': R_D, 'HR': HR}

department_stats = []

for department, df in department_data.items():
    employees_count = df.shape[0]
    active_members_count = df[df['CF_attrition label'] == 'Current Employees'].shape[0]
    attrition_count = df[df['Attrition'] == 'Yes'].shape[0]
    attrition_rate = round((attrition_count / (employees_count - attrition_count)) * 100, 2)

    department_stats.append({'Department': department,
                             'Employees Count': employees_count,
                             'Active Members Count': active_members_count,
                             'Attrition Count': attrition_count,
                             'Attrition Rate': attrition_rate})

department_stats_df = pd.DataFrame(department_stats)
fig = px.bar(department_stats_df,
             x='Department',
             y=['Employees Count', 'Active Members Count', 'Attrition Count', 'Attrition Rate'],
             title='Department-wise Employee Statistics',
             barmode='group',
             labels={'value': 'Count/Rates', 'variable': 'Statistics'})
pio.write_html(fig, file='bar_plot_dep.html', auto_open=False)

plot(fig)

'temp-plot.html'

In [146]:
data['Job Role'].value_counts()

Job Role
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

In [147]:
import plotly.express as px

age_counts = data['Job Role'].value_counts().reset_index()
age_counts.columns = ['Job Role', 'Count']
fig = px.bar(age_counts, x='Job Role', y='Count', title='Job Role Distribution', labels={'Job Role': 'Job Role', 'Count': 'Number of Employees'})
pio.write_html(fig, file='bar_plot_jobs.html', auto_open=False)

plot(fig)

'temp-plot.html'

In [148]:
data['CF_current Employee'].unique()

array([0, 1])

In [149]:
max_hourly_rates = data.groupby('Job Level')['Hourly Rate'].max()
min_hourly_rates = data.groupby('Job Level')['Hourly Rate'].min()
avg_hourly_rates = data.groupby('Job Level')['Hourly Rate'].mean()

hourly_rate_summary = pd.DataFrame({'Job Level': max_hourly_rates.index,
                                    'Max Hourly Rate': max_hourly_rates.values,
                                    'Min Hourly Rate': min_hourly_rates.values,
                                    'Avg Hourly Rate': avg_hourly_rates.values})

fig = px.bar(hourly_rate_summary, x='Job Level',
             y=['Max Hourly Rate', 'Min Hourly Rate', 'Avg Hourly Rate'],
             barmode='group', title='Hourly Rate Summary by Job Level')
pio.write_html(fig, file='bar_plot_level.html', auto_open=False)

plot(fig)

'temp-plot.html'

In [150]:
data['Education Field'].unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

In [151]:
department_data = {'Sales': Sales, 'R&D': R_D, 'HR': HR}
counts_list = []
all_data = pd.concat(department_data.values())
unique_education_fields = all_data['Education Field'].unique()

for department, data in department_data.items():
    for field in unique_education_fields:
        count = (data['Education Field'] == field).sum()
        counts_list.append({'Department': department, 'Education Field': field, 'Count': count})

count_df = pd.DataFrame(counts_list)
fig = px.bar(count_df, x='Department', y='Count', color='Education Field', barmode='group',
             title='Count of People in Each Education Field by Department')
pio.write_html(fig, file='bar_plot_edu.html', auto_open=False)

plot(fig)

'temp-plot.html'

In [152]:
fig = px.box(data, x='Years Since Last Promotion', y='Years At Company',
             title='Box Plot of Years At Company for Each Years Since Last Promotion',
             labels={'Years Since Last Promotion': 'Years Since Last Promotion', 'Years At Company': 'Years At Company'})
pio.write_html(fig, file='box_plot_comp1.html', auto_open=False)

plot(fig)

'temp-plot.html'

In [153]:
fig = px.box(data, x='Total Working Years', y=['Years At Company', 'Years In Current Role'],
             title='Distribution of Years At Company and Years In Current Role over Total Working Years')
pio.write_html(fig, file='box_plot_comp2.html', auto_open=False)
plot(fig)

'temp-plot.html'

In [154]:
fig = px.box(data, x='Total Working Years', y='Years In Current Role',
             title='Box Plot of Years In Current Role for Each Total Working Years')
pio.write_html(fig, file='box_plot_comp3.html', auto_open=False)
plot(fig)

'temp-plot.html'